* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 50px;
  background: #c3c3c3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.book-list {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  flex-wrap: wrap;
}